:root {
    // typography
    --ff-open-sans: 'Open Sans';

    // colors
    --white: #ffffff;
    --dark-blue: #091F3E;

    --light-blue: #3274F6;
    --dark-grey-bold: #1C1C1C;
    --dark-grey: #595959;
    --light-grey: #A4A4A4;
    --cathegory-grey: #D6D6D6;
    --input-field-grey: #F0F0F0;
    --input-field-grey-light: #F5F5F5;

    --dark-mode-background: #081A34;
    --dark-mode-background-light: #132F57;
    --dark-mode-background-light: #132F57;
    --dark-mode-cathegory-blue: #1D4276;
    --dark-mode-text: #CEE4FF;

    --green: #70D8C1;
    --yellow: #F7DA68;
    --pink: #EB7886
}
  